<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ETOP</title>

    <!-- Bootstrap -->
    <link href="/portal/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/portal/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/portal/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/portal/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/portal/build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/tms/dashboard/show" class="site_title"><i class="fa fa-paw"></i> <span>ETOP</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/portal/production/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2 id="fullname"></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Menus</h3>
                <ul class="nav side-menu">
                  <li><a href="/tms/dashboard/show"><i class="fa fa-edit"></i> Dashboard </a>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Processing <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/tms/transaction/show">Transactions</a></li>
                      <li><a href="/tms/state/show">Terminals</a></li>
                      <li><a href="/tms/ongoing/show">Ongoing Transactions</a></li>
                      <li><a href="/tms/instantvalue/show">Instant Value</a></li>
                      <% if(1) { %>   
                        <li><a href="/tms/inactive/show">Inactive Terminals</a></li>
                      <% } %>
                      <li><a href="/tms/settledinstant/show">Settled Instant Value</a></li>
                      <li><a href="/tms/agencyinstant/show">Agency Transactions</a></li>
                      <li><a href="/tms/settledagency/show">Settled Agency Transactions</a></li>
                      
                    </ul>
                  </li>
                  <% if(1) { %>   
                    <% if(usertype == 'checker') { %> 
                      <li><a><i class="fa fa-edit"></i> Pending <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                          <li><a href="/tms/pending/terminals">Pending Terminals</a></li>
                          <li><a href="/tms/pending/switchkeys">Pending Host Keys</a></li>
                          <li><a href="/tms/pending/billers">Pending Billers</a></li>
                          <li><a href="/tms/pending/profile">Pending Profiles</a></li>
                          <li><a href="/tms/pending/credits">Pending Credits</a></li>
                        </ul>
                      </li>
                    <% } %>
                    <li><a><i class="fa fa-edit"></i> Settings <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <% if(usertype == 'maker') { %> 
                          <li><a href="/tms/profile/show">Profile</a></li>
                          <li><a href="/tms/terminals/show">Terminals</a></li>
                          <li><a href="/tms/stock/show">Stock Manager</a></li>
                          <li><a href="/tms/credits/show">Credit Manager</a></li>
                        <% } %>  
                        <li><a href="/tms/transactiontypes/show">Transaction Types</a></li>
                        <li><a href="/tms/logo/show">Logo Customization</a></li>
                        <li><a href="/tms/banks/show">Acquiring Institutions</a></li>
                        <li><a href="/tms/currency/show">Currency</a></li>
                        <li><a href="/tms/broadcast/show">Transaction Broadcast</a></li>
                      </ul>
                    </li>
                    <% if(usertype == 'maker') { %> 
                      <li><a><i class="fa fa-edit"></i> Bills Payment <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                          <li><a href="/tms/billing/billers">All Billers</a></li>
                          <li><a href="/tms/billing/menu">Bills Menu</a></li>
                        </ul>
                      </li>
                    <% } %>
                    <li><a><i class="fa fa-edit"></i> Keys Management <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <% if(usertype == 'maker') { %> 
                          <li><a href="/tms/hostkeys/show">Host Keys</a></li>
                        <% } %>  
                        <li><a href="/tms/cardkeys/show">Card Keys</a></li>
                      </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> Remote Upgrade <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="/tms/upgrade/all">Terminal Update</a></li>
                      </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> Configurations <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="/tms/settings/callhome">Call Home</a></li>
                        <li><a href="/tms/settings/communications">Communications</a></li>
                        <li><a href="/tms/settings/receipt">Receipt</a></li>
                        <li><a href="/tms/settings/host">Host</a></li>
                      </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> Web <span class="fa fa-chevron-down"></span></a>
                      <!--<ul class="nav child_menu">
                        <li><a href="/tms/fromweb/contact">Contact Us</a></li>
                        <li><a href="/tms/fromweb/complaint">Complaint</a></li>
                        <li><a href="/tms/fromweb/kyc">Pending KYC</a></li>
                      </ul>-->
                  <% } %>
                  <% if(usertype == 'agent') { %> 
                    <!--<li><a><i class="fa fa-edit"></i> Sub Agents <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="/tms/viewsubs/agent">All Sub-Agent</a></li>
                      </ul>
                    </li>-->
                  <% } %>
                  <li><a><i class="fa fa-edit"></i> Settlement Engine <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/tms/agencysettlement/all">Agency Transactions</a></li>
                      <li><a href="/tms/vtusettlement/all">Vas Transactions</a></li>
                      <% if(1) { %>   
                        <li><a href="/tms/failedtxns/all">Failed Transactions</a></li>
                      <% } %>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-edit"></i> ETOP Retail <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/tms/retail/all">View All</a></li>
                    </ul>
                  </li>
                  
                  <li><a><i class="fa fa-edit"></i> User Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <% if(role == 'admin') { %>   
                        <li><a href="/tms/usersignup/user">New User</a></li>
                        <li><a href="/tms/usersignup/admin">New Admin</a></li>
                        <li><a href="/tms/tmsusers/all">All Users</a></li>
                        <li><a href="/tms/tmsadmins/all">All Admins</a></li>
                        <li><a href="/tms/tmsblocked/show">Blocked Users</a></li>    
                        <!--<li><a href="/tms/tmsothers/show">All Merchant/Agent/Sub-Agent</a></li>-->
                      <% } %>
                      <li><a href="/tms/usermodify/modify">Modify Details</a></li>
                      <li><a href="/tms/usermodify/changepassword">Change Password</a></li>
                    </ul>
                  </li>

                  
                  <li><a href="/"><i class="fa fa-laptop"></i> Logout <span class="label label-success pull-right">Exit App</span></a></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/portal/production/images/img.jpg" alt="">
                    <span class=" fa fa-angle-down"></span>
                  </a>

                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/tms/usermodify/modify">Modify Details</a></li>
                    <li><a href="/tms/usermodify/changepassword">Change Password</a></li>
                    <li><a href="/"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                  <div id="assetNum" class="count">0</div>
                  <h3>Approved</h3>
                  <p>Approved Transaction Today</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-comments-o"></i></div>
                  <div id="utilityNum" class="count">0</div>
                  <h3>Declined</h3>
                  <p>Declined Transaction Today</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                  <div id="recoveryNum" class="count">0</div>
                  <h3>Transactions</h3>
                  <p>Total Transaction Today</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-check-square-o"></i></div>
                  <div id="auctionNum" class="count">0</div>
                  <h3>Terminals</h3>
                  <p>Total Terminals</p>
                </div>
              </div>
            </div>

            <% if(1) { %>   
              <div class="row top_tiles">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                    <div id="iswcharge" style="font-size: 20px;" class="count">0.00</div>
                    <h3>Interswitch</h3>
                    <div id="iswdue" style="font-size: 20px;" class="count">0.00</div>
                    <!--<p>BIZZDESK PTSP Due (NGN)</p>-->
                  </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-comments-o"></i></div>
                    <div id="nibssmsc" style="font-size: 20px;" class="count">0.00</div>
                    <h3>Nibss</h3>
                    <div id="nibssdue" style="font-size: 20px;" class="count">0.00</div>
                    <!--<p>ETOP PTSP Due (NGN)</p>-->
                  </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                    <div id="tmodue" style="font-size: 20px;" class="count">0.00</div>
                    <h3>Tmo & Ptsp</h3>
                    <div id="ptspdue" style="font-size: 20px;" class="count">0.00</div>
                    <!--<p>TMO Due (NGN)</p>-->
                  </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="totalvolume" style="font-size: 20px;" class="count">0.00</div>
                    <h3>Total</h3>
                    <p>Total Volume (NGN)</p>
                  </div>
                </div>
              </div>
            <% } %>


            <div class="row">
              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Approved<small>Approved Transactions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div id="apprtxndiv" class="x_content">
                   
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Decline <small>Declined Reasons</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div id="declreason" class="x_content">
                    
                    
                    
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Transactions <small>Today's Transactions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div id="rectrndiv" class="x_content">
                    
                    
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Terminals<small>All</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div id="maintendiv" class="x_content">
                  


                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Blacklist <small>Blocked Terminal</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div id="recdiv" class="x_content">
                    
                    
                    
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Terminal <small>States</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div id="aucdiv" class="x_content">
                    
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            By Gbikna Limited. <a href="http://google.com">Website</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <p id="details" style="display:none"><%= details %></p>

    <!-- jQuery -->
    <script src="/portal/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/portal/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/portal/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/portal/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/portal/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="/portal/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="/portal/vendors/Flot/jquery.flot.js"></script>
    <script src="/portal/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/portal/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/portal/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/portal/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/portal/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/portal/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/portal/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/portal/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/portal/vendors/moment/min/moment.min.js"></script>
    <script src="/portal/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    
    <!-- Custom Theme Scripts 
    <script src="/portal/build/js/custom.min.js"></script> -->
    <script src="/portal/build/js/custom.js"></script>
    <script src="/portal/ajax/dashboard/sweetalert2.all.min.js"></script>
    <script src="/portal/ajax/dashboard/dashboards.js"></script>

  </body>
</html>