
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
       
        <title>ETOP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="GBIKNA TMS" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/ui/assets/images/logo.png">

        <!-- DataTables -->
        <link href="/ui/plugins/datatables/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="/ui/plugins/datatables/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/ui/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 

        <!-- App css -->
        <link href="/ui/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/ui/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/ui/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/ui/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <link href="/ui/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <!-- Left Sidenav -->
        <div class="left-sidenav">
          <!-- LOGO -->
          <div class="brand">
              <a href="/tms/dashboard/show" class="logo">
                  <span>
                      <img src="/ui/assets/images/logo.png" alt="logo-small" class="logo-sm">
                  </span>
              </a>
          </div>
          <!--end logo-->
          <div class="menu-content h-100" data-simplebar>
              <ul class="metismenu left-sidenav-menu">
                  <li class="menu-label mt-0">Main</li>
                    <% if(1) { %>
                        <li>
                            <a href="#"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Processing</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li class="nav-item"><a class="nav-link" href="/tms/dashboard/show"><i class="ti-control-record"></i>Dashboard</a></li>
                                <li class="nav-item"><a class="nav-link" href="/tms/transaction/show"><i class="ti-control-record"></i>Transactions</a></li>
                                <li class="nav-item"><a class="nav-link" href="/tms/ejournal/show"><i class="ti-control-record"></i>Card</a></li>
                                <li class="nav-item"><a class="nav-link" href="/tms/state/show"><i class="ti-control-record"></i>State</a></li> 
                            </ul>
                        </li>
                    <% } %>
                  
                  <% if(usertype == 'maker') { %>
                      <li>
                          <a href="#"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Setup</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                          <ul class="nav-second-level" aria-expanded="false">
                              <li class="nav-item"><a class="nav-link" href="/tms/signup/show"><i class="ti-control-record"></i>Signup</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/profile/show"><i class="ti-control-record"></i>Profile</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/wallet/show"><i class="ti-control-record"></i>Wallet</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/terminals/show"><i class="ti-control-record"></i>Terminals</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/purchase/show"><i class="ti-control-record"></i>Terminal Purchase</a></li> 
                              <li class="nav-item"><a class="nav-link" href="/tms/stock/show"><i class="ti-control-record"></i>Stock</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/credits/show"><i class="ti-control-record"></i>Credit Manager</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/transactiontypes/show"><i class="ti-control-record"></i>Transaction Types</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/prices/show"><i class="ti-control-record"></i>Terminal Prices</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/staffmapping/show"><i class="ti-control-record"></i>Staff Mappings</a></li>  
                              <li class="nav-item"><a class="nav-link" href="/tms/messages/show"><i class="ti-control-record"></i>Messages</a></li> 
                              <li class="nav-item"><a class="nav-link" href="/tms/logo/show"><i class="ti-control-record"></i>Logo</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/banks/show"><i class="ti-control-record"></i>Bank</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/currency/show"><i class="ti-control-record"></i>Currency</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/hostkeys/show"><i class="ti-control-record"></i>Host Keys</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/upgrade/all"><i class="ti-control-record"></i>Remote Update</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/settings/callhome"><i class="ti-control-record"></i>Call Home</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/settings/communications"><i class="ti-control-record"></i>Communications</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/settings/receipt"><i class="ti-control-record"></i>Receipt</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/settings/host"><i class="ti-control-record"></i>Host</a></li>     
                          </ul>
                      </li>
                  <% } %>

                  <li>
                      <a href="#"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Management</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                      <ul class="nav-second-level" aria-expanded="false">
                          <li class="nav-item"><a class="nav-link" href="/tms/usermodify/changepassword"><i class="ti-control-record"></i>Change Password</a></li>
                          <li class="nav-item"><a class="nav-link" href="/"><i class="ti-control-record"></i>Logout</a></li>   
                      </ul>
                  </li>
                  
                  <% if(role == 'admin') { %>   
                      <li>
                          <a href="#"> <i data-feather="hom`e" class="align-self-center menu-icon"></i><span>Admin</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                          <ul class="nav-second-level" aria-expanded="false">
                              <li class="nav-item"><a class="nav-link" href="/tms/tmsusers/all"><i class="ti-control-record"></i>All Users</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/tmsadmins/all"><i class="ti-control-record"></i>All Admins</a></li> 
                              <li class="nav-item"><a class="nav-link" href="/tms/tmsblocked/show"><i class="ti-control-record"></i>Blocked Users</a></li> 
                              <li class="nav-item"><a class="nav-link" href="/tms/usersignup/user"><i class="ti-control-record"></i>New User</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/usersignup/admin"><i class="ti-control-record"></i>New Admin</a></li>  
                          </ul>
                      </li>  
                  <% } %>

                  <% if(usertype == 'checker') { %>
                      <li>
                          <a href="#"> <i data-feather="hom`e" class="align-self-center menu-icon"></i><span>Checkers</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                          <ul class="nav-second-level" aria-expanded="false">
                              <li class="nav-item"><a class="nav-link" href="/tms/pending/terminals"><i class="ti-control-record"></i>Approve Terminals</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/pending/profile"><i class="ti-control-record"></i>Approve Profiles</a></li>
                              <li class="nav-item"><a class="nav-link" href="/tms/pending/switchkeys"><i class="ti-control-record"></i>Approve Keys</a></li> 
                              <li class="nav-item"><a class="nav-link" href="/tms/pending/credits"><i class="ti-control-record"></i>Approve Credits</a></li>   
                          </ul>
                      </li> 
                  <% } %>
              </ul>
          </div>
      </div>
        <!-- end left-sidenav-->
        

        <div class="page-wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">            
              <!-- Navbar -->
              <nav class="navbar-custom">    
                  <ul class="list-unstyled topbar-nav float-end mb-0">                       

                      <li class="dropdown">
                          <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button"
                              aria-haspopup="false" aria-expanded="false">
                              <span onclick="location='http://62.173.47.4:9001'" class="ms-1 nav-user-name hidden-sm" >LOG OUT</span>
                                <img src="/ui/assets/images/logo.png" alt="profile-user" class="rounded-circle thumb-xs" />                                  
                          </a>
                      </li>
                  </ul><!--end topbar-nav-->
      
                  <ul class="list-unstyled topbar-nav mb-0">                        
                      <li>
                          <button class="nav-link button-menu-mobile">
                              <i data-feather="menu" class="align-self-center topbar-icon"></i>
                          </button>
                      </li>                         
                  </ul>
              </nav>
              <!-- end navbar-->
          </div>
            <!-- Top Bar End -->

            <!-- Page Content-->
            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">TMS</h4>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Transaction</a></li>
                                            <li class="breadcrumb-item active">Show</li>
                                        </ol>
                                    </div><!--end col-->
                                    <div class="col-auto align-self-center">
                                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                            <span class="" id="Select_date">Jan 11</span>
                                            <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                                        </a>
                                        <span id="table_refresh">
                                            <a href="#" class="btn btn-sm btn-outline-primary">
                                                <i data-feather="refresh-cw" class="align-self-center icon-xs"></i>
                                            </a>
                                        </span>
                                    </div><!--end col-->  
                                </div><!--end row-->                                                              
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div><!--end row-->
                    <!-- end page title end breadcrumb -->
    
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">All Transactions</h4>
                                    <p class="text-muted mb-0">View All Transactions
                                    </p>
                                </div><!--end card-header style="width: 800px; margin: 0 auto;"-->
                                <div class="card-body">
                                    <div style="width: 1000px; margin: 0 auto;"> 
                                        <table id="datatable-buttons" class="table table-striped table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <!--<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">-->
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Wallet Id</th>
                                            <th>Username</th>
                                            <th>Tid</th>
                                            <th>RRN</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Meaning</th>
                                            <th>Address</th>
                                            <th>Transaction</th>
                                            <th>Pan</th>
                                            <th>Destination</th>
                                            <th>Bus Name</th>
                                            <th>Category</th>
                                            <th>City</th>
                                            <th>Expiry Date</th>
                                            <th>Fee</th>
                                            <th>Tms Share</th>
                                            <th>Ptsp</th>
                                            <th>Tmo</th>
                                            <th>Time Stamp</th>
                                        </tr>
                                        </thead>
                                        
                                        <!--<tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Wallet Id</th>
                                            <th>Username</th>
                                            <th>Tid</th>
                                            <th>RRN</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>State</th>
                                            <th>Transaction</th>
                                            <th>Pan</th>
                                            <th>Destination</th>
                                        </tr>
                                        </tfoot>-->
                                        
                                    </table>
                                    </div>    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    

                </div><!-- container -->

                <footer class="footer text-center text-sm-start">
                  &copy; <script>
                      document.write(new Date().getFullYear())
                  </script> TMS <span class="text-muted d-none d-sm-inline-block float-end"> <i
                          class="mdi mdi-heart text-danger"></i> by Gbikna</span>
              </footer><!--end footer-->
            </div>
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->

        


        <!-- jQuery  -->
        <script src="/ui/assets/js/jquery.min.js"></script>
        <script src="/ui/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/ui/assets/js/metismenu.min.js"></script>
        <script src="/ui/assets/js/waves.js"></script>
        <script src="/ui/assets/js/feather.min.js"></script>
        <script src="/ui/assets/js/simplebar.min.js"></script>
        <script src="/ui/assets/js/moment.js"></script>
        <script src="/ui/plugins/daterangepicker/daterangepicker.js"></script>

        <!-- Required datatable js -->
        <script src="/ui/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/ui/plugins/datatables/dataTables.bootstrap5.min.js"></script>
        <!-- Buttons examples -->
        <script src="/ui/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/ui/plugins/datatables/buttons.bootstrap5.min.js"></script>
        <script src="/ui/plugins/datatables/jszip.min.js"></script>
        <script src="/ui/plugins/datatables/pdfmake.min.js"></script>
        <script src="/ui/plugins/datatables/vfs_fonts.js"></script>
        <script src="/ui/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/ui/plugins/datatables/buttons.print.min.js"></script>
        <script src="/ui/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/ui/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/ui/plugins/datatables/responsive.bootstrap4.min.js"></script>
        <script src="/ui/assets/pages/jquery.datatable.init.js"></script>

        <!-- App js -->
        <script src="/ui/assets/js/app.js"></script>

        <script src="/ui/ajax/transactions/sweetalert2.all.min.js"></script>
        <script src="/ui/ajax/transactions/viewtransactions.js"></script>
        


    </body>

</html>