<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ETOP</title>

    <!-- Bootstrap -->
    <link href="/portal/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/portal/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/portal/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/portal/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/portal/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/portal/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/portal/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/portal/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/portal/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/portal/build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/tms/dashboard/show" class="site_title"><i class="fa fa-paw"></i> <span>ETOP</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/portal/production/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2 id="fullname"></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Menus</h3>
                <ul class="nav side-menu">
                  <li><a href="/tms/dashboard/show"><i class="fa fa-edit"></i> Dashboard </a>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Processing <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/tms/transaction/show">Transactions</a></li>
                      <li><a href="/tms/state/show">Terminals</a></li>
                      <li><a href="/tms/ongoing/show">Ongoing Transactions</a></li>
                      <li><a href="/tms/instantvalue/show">Instant Value</a></li>
                      <% if(1) { %>   
                        <li><a href="/tms/inactive/show">Inactive Terminals</a></li>
                      <% } %>
                      <li><a href="/tms/settledinstant/show">Settled Instant Value</a></li>
                      <li><a href="/tms/agencyinstant/show">Agency Transactions</a></li>
                      <li><a href="/tms/settledagency/show">Settled Agency Transactions</a></li>
                      
                    </ul>
                  </li>
                  <% if(1) { %>   
                    <% if(usertype == 'checker') { %> 
                      <li><a><i class="fa fa-edit"></i> Pending <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                          <li><a href="/tms/pending/terminals">Pending Terminals</a></li>
                          <li><a href="/tms/pending/switchkeys">Pending Host Keys</a></li>
                          <li><a href="/tms/pending/billers">Pending Billers</a></li>
                          <li><a href="/tms/pending/profile">Pending Profiles</a></li>
                          <li><a href="/tms/pending/credits">Pending Credits</a></li>
                        </ul>
                      </li>
                    <% } %>
                    <li><a><i class="fa fa-edit"></i> Settings <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <% if(usertype == 'maker') { %> 
                          <li><a href="/tms/profile/show">Profile</a></li>
                          <li><a href="/tms/terminals/show">Terminals</a></li>
                          <li><a href="/tms/stock/show">Stock Manager</a></li>
                          <li><a href="/tms/credits/show">Credit Manager</a></li>
                        <% } %>  
                        <li><a href="/tms/transactiontypes/show">Transaction Types</a></li>
                        <li><a href="/tms/logo/show">Logo Customization</a></li>
                        <li><a href="/tms/banks/show">Acquiring Institutions</a></li>
                        <li><a href="/tms/currency/show">Currency</a></li>
                        <li><a href="/tms/broadcast/show">Transaction Broadcast</a></li>
                      </ul>
                    </li>
                    <% if(usertype == 'maker') { %> 
                      <li><a><i class="fa fa-edit"></i> Bills Payment <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                          <li><a href="/tms/billing/billers">All Billers</a></li>
                          <li><a href="/tms/billing/menu">Bills Menu</a></li>
                        </ul>
                      </li>
                    <% } %>
                    <li><a><i class="fa fa-edit"></i> Keys Management <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <% if(usertype == 'maker') { %> 
                          <li><a href="/tms/hostkeys/show">Host Keys</a></li>
                        <% } %>  
                        <li><a href="/tms/cardkeys/show">Card Keys</a></li>
                      </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> Remote Upgrade <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="/tms/upgrade/all">Terminal Update</a></li>
                      </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> Configurations <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="/tms/settings/callhome">Call Home</a></li>
                        <li><a href="/tms/settings/communications">Communications</a></li>
                        <li><a href="/tms/settings/receipt">Receipt</a></li>
                        <li><a href="/tms/settings/host">Host</a></li>
                      </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> Web <span class="fa fa-chevron-down"></span></a>
                      <!--<ul class="nav child_menu">
                        <li><a href="/tms/fromweb/contact">Contact Us</a></li>
                        <li><a href="/tms/fromweb/complaint">Complaint</a></li>
                        <li><a href="/tms/fromweb/kyc">Pending KYC</a></li>
                      </ul>-->
                  <% } %>
                  <% if(usertype == 'agent') { %> 
                    <!--<li><a><i class="fa fa-edit"></i> Sub Agents <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="/tms/viewsubs/agent">All Sub-Agent</a></li>
                      </ul>
                    </li>-->
                  <% } %>
                  <li><a><i class="fa fa-edit"></i> Settlement Engine <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/tms/agencysettlement/all">Agency Transactions</a></li>
                      <li><a href="/tms/vtusettlement/all">Vas Transactions</a></li>
                      <% if(1) { %>   
                        <li><a href="/tms/failedtxns/all">Failed Transactions</a></li>
                      <% } %>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-edit"></i> ETOP Retail <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/tms/retail/all">View All</a></li>
                    </ul>
                  </li>

                  
                  
                  <li><a><i class="fa fa-edit"></i> User Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <% if(role == 'admin') { %>   
                        <li><a href="/tms/usersignup/user">New User</a></li>
                        <li><a href="/tms/usersignup/admin">New Admin</a></li>
                        <li><a href="/tms/tmsusers/all">All Users</a></li>
                        <li><a href="/tms/tmsadmins/all">All Admins</a></li>
                        <li><a href="/tms/tmsblocked/show">Blocked Users</a></li>    
                        <!--<li><a href="/tms/tmsothers/show">All Merchant/Agent/Sub-Agent</a></li>-->
                      <% } %>
                      <li><a href="/tms/usermodify/modify">Modify Details</a></li>
                      <li><a href="/tms/usermodify/changepassword">Change Password</a></li>
                    </ul>
                  </li>

                  
                  <li><a href="/"><i class="fa fa-laptop"></i> Logout <span class="label label-success pull-right">Exit App</span></a></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/portal/production/images/img.jpg" alt="">
                    <span class=" fa fa-angle-down"></span>
                  </a>

                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/tms/usermodify/modify">Modify Details</a></li>
                    <li><a href="/tms/usermodify/changepassword">Change Password</a></li>
                    <li><a href="/"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
        

            <div class="clearfix"></div>

            <div class="row" id="tmstable">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Bills Menu <small>All Pending</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="/tms/transaction/show">All Terminal</a></li>
                          <li><a href="/tms/ongoing/show">Ongoing Transaction</a></li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      Bills Menu.
                    </p>
                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Type</th>
                          <th>Info</th>
                          <th>APPROVE</th>
                        </tr>
                      </thead>

                    

                      <tbody>
                        
                        
                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>

            </div>



          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            By Gbikna Limited. <a href="http://google.com">Website</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <p id="details" style="display:none"><%= details %></p>

    <!-- jQuery -->
    <script src="/portal/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/portal/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/portal/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/portal/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="/portal/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="/portal/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/portal/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/portal/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/portal/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/portal/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/portal/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/portal/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/portal/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/portal/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/portal/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/portal/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/portal/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/portal/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/portal/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/portal/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/portal/build/js/custom.min.js"></script>

    <script src="/portal/ajax/pending/sweetalert2.all.min.js"></script>
    <script src="/portal/ajax/pending/pendingbiller.js"></script>

  </body>
</html>